<!DOCTYPE html>
 <html class="no-js" lang="en"> <!--<![endif]-->
    <head prefix="dcterms: http://purl.org/dc/terms">
        <meta charset="UTF-8"> 

    	<link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.oxford.gov.uk/rss/news">
        <link rel="search" type="application/opensearchdescription+xml" title="Oxford City Council" href="https://www.oxford.gov.uk/site/scripts/opensearch.php">
        <link rel="shortcut icon" href="//www.oxford.gov.uk/site/images/apple-icons/favicon.ico" type="image/x-icon" />
        <link rel="apple-touch-icon" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="//www.oxford.gov.uk/site/images/apple-icons/apple-touch-icon-180x180.png">
        <!--[if lte IE 8]>
            <link rel="stylesheet" href="//www.oxford.gov.uk/site/dist/orbit-oldie.css">
            <link rel="stylesheet" href="//www.oxford.gov.uk/site/styles//generic/standard-oldie.css">
        <![endif]--> 
        <!--[if gt IE 8]><!-->
            <link rel="stylesheet" href="//www.oxford.gov.uk/site/dist/orbit.css">
            <link rel="stylesheet" href="//www.oxford.gov.uk/site/styles/standard.css">
        <!--<![endif]-->
        <link rel="stylesheet" type="text/css" href="//www.oxford.gov.uk/widgets/css/standard_widget_styles.css?1562229696">

        <link rel="stylesheet" href="//wsstatic.govmetric.com/css/client/gm_sidebar.css"> <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T42CSG');</script>
<!-- End Google Tag Manager -->        <meta name="author" content="Oxford City Council">
        <meta name="revisit-after" content="2 days">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

        <meta property="dcterms:creator" content="Oxford City Council">
        <meta property="dcterms:coverage" content="Oxford">
        <meta property="dcterms:format" content="text/html">
        <meta property="dcterms:identifier" content="https://www.oxford.gov.uk/">
        <meta property="dcterms:language" content="en">
        <meta property="dcterms:publisher" content="Oxford City Council">
        <meta property="dcterms:rightsHolder" content="Copyright 2016 Oxford City Council">
        <meta name="ROBOTS" content="INDEX,FOLLOW" >

        <meta property="dcterms:description" content="Providing information on Planning, Waste and Recycling, Housing,  local Councillors and democracy, Leisure,  Culture, Transport, and services in the Oxford Area.">
        <meta property="dcterms:subject" content="Oxford, Oxford City Council, Oxford Home Page, Oxford City, Council, visitors, business, residents, services>">
        <meta property="dcterms:title" content="Oxford City Council - Tel: 01865 249811">
        <meta name="description" content="Providing information on Planning, Waste and Recycling, Housing,  local Councillors and democracy, Leisure,  Culture, Transport, and services in the Oxford Area.">
        <meta name="keywords" content="Oxford, Oxford City Council, Oxford Home Page, Oxford City, Council, visitors, business, residents, services">
        <script src="//www.oxford.gov.uk/site/javascript/swfobject.js"></script>
        <script src="//www.oxford.gov.uk/site/javascript/libs/modernizr/modernizr.js"></script>
        <!--[if lt IE 9]>
        <script src="//www.oxford.gov.uk/site/javascript/libs/ie9-js/index.js"></script>
        <![endif]-->
        <title>Oxford City Council</title>
    <title>Get help if you're staying at home due to coronavirus | Oxford City Council</title>
    <link href="https://www.oxford.gov.uk/site/images/logo.svg" rel="icon" />
    
    
    <meta name="viewport" content="width=device-width">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header class="site-header">
      <div class="container">
        <a href="https://www.oxford.gov.uk" class="site-header__masthead">
          <%= image_tag "logo.svg", alt: "Oxford City Council" %>
        </a>
      </div>
    </header>

    <section class="beta-banner">
      <div class="beta-banner__inner container">
        <strong class="beta-banner__tag">Beta</strong>
        <p class="beta-banner__message">We're updating this website every day — <a href="">your feedback</a> helps us improve it.</p>
      </div>
    </section>

    <div class="main-content-area">
      <div class="container">
        <%= yield %>
      </div>
    </div>

        <footer class="site-footer fade-in two" role="contentinfo">
            <div class="container">
                <div class="site-footer__social">
                    <ul>
                        <li><a href="https://www.facebook.com/OxfordCityCouncil" title="Facebook"><i class="fa fa-facebook"></i><span class="visuallyhidden">Facebook</span></a></li>
                        <li><a href="https://twitter.com/oxfordcity" title="Twitter"><i class="fa fa-twitter"></i><span class="visuallyhidden">Twitter</span></a></li>
                        <li><a href="https://instagram.com/oxfordcitycouncil" title="Instagram"><i class="fa fa-instagram"></i><span class="visuallyhidden">Instagram</span></a></li>
                        <li><a href="/info/20140/communications/526/social_media" title="RSS"><i class="fa fa-rss"></i><span class="visuallyhidden">RSS</span></a></li>
                    </ul>
                </div>
                <div class="site--footer__links">
                    <ul class="item-list item-list--inline">

                        <li><a href="https://www.oxford.gov.uk/accessibility" rel="">Accessibility</a></li>
                        <li><a href="https://www.oxford.gov.uk/contact">Contact Us</a></li>
                        <li><a href="https://www.oxford.gov.uk/cookies">Cookie Policy</a></li>
                        <li><a href="https://www.oxford.gov.uk/privacy">Privacy Notice</a></li>
                        <li><a href="https://www.oxford.gov.uk/site_map">Site Map</a></li>
                    </ul>
                    <p class="site-footer__rights">Copyright &copy; 2020 Oxford City Council, Town Hall, St Aldate's, Oxford, OX1 1BX</p>
                    <p class="site-footer__rights site-footer__rights--smaller">Handcrafted by <a href="https://spacecraft.digital">Spacecraft</a>. Powered by <a href="https://www.jadu.net">Jadu Continuum</a>.</p>
                </div>
            </div>
        </footer>

  </body>
</html>
<