<!DOCTYPE html>
<html lang="en">
  <head>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152782082-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '<%= ENV['GA_PROPERTY_ID'] %>');
    </script>

    <title>Get help if you're staying at home due to coronavirus | Oxford City Council</title>
    <link href="https://www.oxford.gov.uk/site/images/logo.svg" rel="icon" />
    <meta name="viewport" content="width=device-width">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <header class="site-header">
      <div class="container">
        <a href="https://www.oxford.gov.uk" class="site-header__masthead">
          <%= image_tag "logo.svg", alt: "Oxford City Council" %>
        </a>
      </div>
    </header>

    <section class="beta-banner">
      <div class="beta-banner__inner container">
        <strong class="beta-banner__tag">Beta</strong>
        <p class="beta-banner__message">We're updating this website every day — <a href="">your feedback</a> helps us improve it.</p>
      </div>
    </section>

    <div class="main-content-area">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <footer class="site-footer">
      <div class="container">
        <p class="site-footer__notice">© 2020 The London Borough of oxford</p>
        <nav class="site-footer__menu">
          <a class="site-footer__link" href="https://www.oxford.gov.uk/cookies">Privacy & cookies</a>
          <a class="site-footer__link" href="https://www.oxford.gov.uk/contact">Contact us</a>
          <a class="site-footer__link" href="">Give feedback on this service</a>
        </nav>
      </div>
    </footer>

  </body>
</html>
<